{% extends 'base.html.twig' %}

{% block title %}Modifier le Post :
	{{ post.title }}
{% endblock %}

{% block body %}

	{% include('navbar.html.twig') %}

	<br><br>

	<div class="container mt-5">
		<h1 class="mb-4">Modifier le Post :
			{{ post.title }}</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(form) }}
		<div class="mb-3">
			{{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.title) }}
		</div>

		<div class="mb-3">
			{{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 5}}) }}
			{{ form_errors(form.content) }}
		</div>

		<div class="mb-3">
			{{ form_label(form.picture, 'Image', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.picture) }}
		</div>

		<div class="mb-3">
			{{ form_label(form.publishedAt, 'Date de publication', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.publishedAt, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.publishedAt) }}
		</div>

		<div class="mb-3">
			{{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.category, {'attr': {'class': 'form-select'}}) }}
			{{ form_errors(form.category) }}
		</div>

		<button type="submit" class="btn btn-primary">Modifier</button>
		<a href="{{ path('app_posts') }}" class="btn btn-secondary">Annuler</a>
		{{ form_end(form) }}
	</div>

	<br><br>

	{% include('footer.html.twig') %}
{% endblock %}
